@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url('../img/bg.jpg') center / cover no-repeat;
    .boards {
        display: flex;
        width: 100%;
        &__item {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            max-width: 250px;
            width: 100%;
            background-color: rgba(0,0,0,.5);
            margin: 0 15px;
            padding: 10px;
            transition: .3s all ease;
            border-radius: 3px;
            .title {
                padding: 5px;
                color: #fff;
                &:focus {
                    outline: 1px solid rgba(168, 168, 168, .45);
                }
            }
            .list {
                min-height: 40px;
                &__item {
                    background-color: #fefefe;
                    border-radius: 3px;
                    padding: 10px;
                    text-align: center;
                    margin: 4px 0;
                    font-weight: 400;
                    font-size: 14px;
                    cursor: pointer;
                    outline: none;
                    border: none;
                }
            }
            .form {
                border-radius: 3px;
                margin-top: auto;
                display: none;
                .textarea {
                    resize: none;
                    height: 60px;
                    border-radius: 3px;
                    border: none;
                    background: #fff;
                    padding: 10px;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
                .buttons {
                    display: flex;
                    .add__item-btn {
                        background: rgb(13, 136, 218);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: #fff;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        width: 100%;
                    }
                    .cancel__item-btn {
                        padding: 0 10px;
                        background: rgb(160, 17, 12);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: #fff;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        margin-left: auto;
                        flex-shrink: 0;
                    }
                }
            }

            .add__btn {
                height: 30px;
                background: rgba(155,155,155,.3);
                border-radius: 3px;
                margin-top: 5px;
                text-align: center;
                display: flex;
                align-items: center;
                font-size: 12px;
                padding-left: 10px;
                color: #fff;
                cursor: pointer;
                span {
                    font-size: 20px;
                    margin-right: 10px;
                    color: #fff;
                }
            }
        }
    }

    .button {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(19,130,204, .62);
        border: none;
        width: 150px;
        cursor: pointer;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        border-radius: 3px;
        font-size: 14px;
    }
}